.root { 
    -fx-background-color: transparent; 
}

.defaultPane {
    -fx-background-color: #222222;
}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}

.Navbutton:hover {
    -fx-background-color: #00a664;
}

.Navbutton {
    -fx-background-color: white;
}

.topborder {
    -fx-border-width: 3; 
    -fx-border-color: #00a664;
    -fx-border-style: solid hidden hidden hidden;
}

.menuBorder {
    -fx-border-width: 3; 
    -fx-border-color: #567fa8;
    -fx-border-style: hidden solid hidden hidden;
}

.custombutton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
